// ----------
// Media Query Mixins
// Telescope only has one breakpoint: Desktop - 600px - Mobile.
// We follow the Telescope convention.
// Telescope bug: Hamburger menu is missing at 600px sharp.
// 600px should show mobile view.

/* Media query mixins */
@mobile-max: 600px;
@desktop-min: 601px; // calc(@mobile-max ~" + 1px")
// 0 - 600px
@phone: ~"only screen and (max-width: @{mobile-max})";
// 601px and up
@desktop: ~"only screen and (min-width: @{desktop-min})";

// Test (temp)
body {
	background-color: green;
	@media @desktop {
		background-color: pink;
	}
}

// ----------
// Color Variables

@brand-blue: #009cff; // rgb(0, 156, 255)
@brand-blue-active: #007aff; //rgb(0, 122, 255)
@brand-pink: #ff6868; // rgb(255, 104, 104)
@brand-pink-active: #ff587c; //rgb(255, 88, 124)
@grey1: #f9f9f9;
@grey2: #f2f2f2;
@grey3: #ebebeb;
@grey4: #d7d7d7;
@grey5: #bfbfbf;
@grey6: #a3a3a3;
@grey7: #808080;
@grey8: #606060;
@grey9: #4d4d4d;
@grey10: #303030;

// ----------
// Typography

body, textarea, input, button, input[type="submit"], input[type="button"] {
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 300;
}
h1.page-h1 {
	margin: 0;
	color: @brand-blue;
	font-size: 48px;
	font-weight: 200;
	text-align: left;
}
h2.caption-h2 {
	margin: 0;
	color: @grey6;
	font-size: 16px;
	font-weight: 600;
	text-align: left;
}
h2.page-h2 {
	margin: 0;
	font-size: 36px;
	font-weight: 600;
	text-align: left;
}
h3.page-h3 {
	margin: 0;
	color: @grey8;
	font-size: 24px;
	font-weight: 600;
	text-align: left;
}
h4.page-h4 {
	margin: 0;
	color: @grey6;
	font-size: 18px;
	font-weight: 600;
	text-align: left;
}
p.page-text {
	margin: 0;
}
a:link {
	.transition(all, 0.3s, ease);
}

// ----------
// Retina image
//
// Short retina mixin for setting background-image and -size. Note that the
// spelling of `min--moz-device-pixel-ratio` is intentional.
// keywon changed default width/height from auto to 100%.
.img-retina(@path; @width-1x: 100%; @height-1x: 100%) {
  background-image: url(@path);

  @at2x_path: ~`@{path}.replace(/\.\w+$/, function(match) { return "@2x" + match; })`;

  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    background-image: url("@{at2x_path}");
    background-size: @width-1x @height-1x;
  }
}

// ----------
// Effects

.transition(@prop: all, @time: 1s, @ease: linear) {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transition: ~"-webkit-@{prop}" @time @ease;
  -moz-transition: ~"-moz-@{prop}" @time @ease;
  -o-transition: ~"-o-@{prop}" @time @ease;
  -ms-transition: ~"-ms-@{prop}" @time @ease;
  transition: @prop @time @ease;
}

// ----------
// Icons

.glyphicon {
	font-weight: normal !important;
}

// ----------
// Buttons

.btn {
	font-weight: 600;
	background-color: transparent;
	.transition(all, 0.3s, ease);
	&.btn-lg {
		border-radius: 6px;
		border-width: 3px;
		font-size: 24px;
	}
}
.btn-outline-blue {
	border-radius: 4px;
	border: 1px solid @brand-blue;
	color: @brand-blue;
	font-size: 16px;
	&:hover {
		border-color: @brand-blue-active;
		color: @brand-blue-active;
	}
}
.btn-outline-white {
	border-radius: 4px;
	border: 1px solid white;
	color: white;
	font-size: 16px;
	&:hover {
		color: white;
		box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
		text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
	}
}
.btn-text {
	margin-left: 0.5em;
}

// ----------
// Layout Tricks

.horizontal-flush {
	width: 100%;
  clear: both;
  display: table;
  position: relative;
}
.middle {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.page-width {
	width: 90%;
	max-width: 1300px;
	margin: 0 auto;
}

// Telescope override
.inner-wrapper .content-wrapper {
	width: 100%;
	max-width: 100%;
	padding: 0;
}

// ----------
// Forms


