<template name="releaseItem">
  <div class="release-item-row {{state}}">
    <div class="release-item-row-header">
      <span class="release-item-start-date">
        {{_startDate}}
      </span>
      &ndash;
      <span class="release-item-end-date">
        {{_endDate}}
      </span>
    </div>

    <div class="release-item-row-body">
      <h3 class="page-h3 release-item-name">{{name}}</h3>
      <h4 class="release-item-description">{{_releaseDescription}}</h4>

      <div class="features-table">
        <div class="feature-thead desktop">
          <div class="feature-name">Feature</div>
          <div class="feature-cost">Cost</div>
          <div class="feature-benefit">Benefit</div>
          <div class="feature-bc-ratio">B/C Ratio</div>
        </div>

        {{#each feature in _releaseFeatures}}
          {{> featureItem feature}}
        {{/each}}
      </div>
    </div>
  </div>
</template>

<template name="featureItem">
  <div class="feature-row">
    <div class="feature-name">{{featureName}}</div>
    <div class="feature-cost"><span class="mobile">Cost:&nbsp;</span>{{cost}}</div>
    <div class="feature-benefit"><span class="mobile">Benefit:&nbsp;</span>{{benefit}}</div>
    <div class="feature-bc-ratio"><span class="mobile">B/C Ratio:&nbsp;</span>{{_featureBCRatio}}</div>
  </div>
</template>

<!--
<h2 class="releases-title">All Releases</h2>
{{#if _noPlanning}}
  <div class="new-release-subheader">No planning event scheduled. Please create one below.</div>
{{/if}}

<div class="releases-list">
  {{#each _buildingReleases}}
    {{> releaseItem}}
  {{/each}}
  {{#each _launchedReleases}}
    {{> releaseItem}}
  {{/each}}
</div>
</template>

<template name="releaseItem">
<div class="release-item">
  <div class="release-header">
    <span class="release-start-date">
      Monday 10/19
    </span>
    -
    <span class="release-end-date">
      Friday 10/30
    </span>
  </div>

  <div class="release-body">
    <h3 class="release-name">{{name}}</h3>
    <div class="release-desc">{{_releaseDescription}}</div>
  </div>

  <table class="features">
    <tr>
      <th>Feature</th>
      <th>Cost</th>
      <th>Benefit</th>
      <th>B/C Ratio</th>
    </tr>

    {{#each _releaseFeatures}}
      {{> featureItem}} -->
