.top-nav .header.component-iq-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: @header-height;
	margin: 0;
	padding: 0;
	&.page-header {
		background-color: white;
		border-bottom: 1px solid @grey4;
	}
  > .page-width {
    height: 59px;
  }
	.header-link-home {
		float: left;
		padding-top: 10px;
	}
	.header-page-nav {
		float: left;
    height: 100%;
		margin-left: 20px;
		li {
			display: inline-block;
      height: 100%;
      a {
        text-transform: uppercase;
      }
		}
	}
	.nav-text {
		color: @grey6;
		font-weight: 700;
    padding: 15px 15px 14px 15px;
		&:hover {
			background-color: transparent;
			color: @brand-pink;
		}
		&:focus, &.active {
			background-color: transparent;
			color: @brand-blue;
		}
	}
  .secondary-nav, .user-menu-wrapper, .user-menu, .menu-top-level {
    position: relative;
    height: 100%;
    margin: 0;
  }
  .menu-top-level&:hover a {
    background-color: @grey1;
    color: @brand-pink;
    cursor: pointer;
  }
  .menu-top-level-link {
    .nav-text;
    position: relative;
    top: 20px;
    bottom: 0;
    font-size: 15px;
    cursor: pointer;
    &:hover {
      background-color: @grey1;
      color: @brand-pink;
      text-decoration: none;
    }
    .avatar .avatar-initials {
      top: 2px;
      font-size: 14px;
      font-weight: 700;
      line-height: 1.3;
      background-color: @brand-blue !important;
    }
  }
  .menu-dropdown .menu-wrapper {
    top: 30px;
  }
  .menu-dropdown.menu-has-items .menu-top-level:after {
    display: none;
  }
  .submit-button {
    display: none;
  }
	.mobile-only {
		.mobile-menu-button {
			width: auto;
			margin-top: -20px;
			padding: 8px;
			background-color: @brand-pink;
		}
	}
}