.top-nav .header.component-iq-header {
	margin: 0;
	padding: 0;
	&.page-header {
		background-color: white;
		border-bottom: 1px solid @grey4;
	}
	.header-link-home {
		float: left;
	}
	.header-page-nav {
		float: left;
		background-color: yellow;
		li {
			display: inline-block;
			color: @grey6;
		}
	}
}