.component-feature-grid {
  width: 100%;
  height: 100%;
  .chart-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
  }
  .axis {
    stroke: rgba(255, 255, 255, 0.8);
    & ~ text {
      fill: white;
      font-size: 1.8rem;
      font-weight: 700;
    }
  }
  .dot {
    circle {
      fill: @grey10;
      stroke-width: 3px;
      stroke: @grey10;
    }
    text.label {
      fill: @grey4;
      font-size: 2.4rem;
      font-weight: 700;
    }
    text.cost {
      fill: @brand-pink;
      font-size: 2.2rem;
      font-weight: 700;
      paint-order: stroke;
      stroke: @grey10;
      stroke-width: 1px;
      stroke-linecap: butt;
      stroke-linejoin: miter;
    }
    text.benefit {
      fill: @brand-blue;
      font-size: 2.2rem;
      font-weight: 700;
      paint-order: stroke;
      stroke: @grey10;
      stroke-width: 1px;
      stroke-linecap: butt;
      stroke-linejoin: miter;
    }
    &.selected {
      circle {
        fill: white;
        stroke: @brand-blue;
      }
      text.label {
        fill: @grey10;
        font-weight: 700;
      }
    }
    // & > rect {
    //   width: 10rem !important;
    //   height: 6rem !important;
    //   rx: 4px;
    //   ry: 4px;
    //   //box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    //   filter: "url(#shadow1)";
    // }
  }
}
