<template name="iq_main_posts_list">
  <div class="above-the-fold">
  	{{> imageBoxConcert}}
    <div class="image-box-content">
      <div class="page-width project-headline">
        <div class="logo-large">
          <img src="/img/logo-large.svg" alt="ReleaseIQ">
          <img src="/img/icon-heart-glow.svg" class="animation-heart">
        </div>
        <h1 class="invisible">ReleaseIQ</h1>
        <h2 class="logo-tagline">Planning Gone Awesome</h2>
        <a href="/backlog" class="btn btn-outline-white btn-lg btn-enter-party">Enter the Party</a>
      </div>
    </div>
  </div>
  <div class="about-us">
    <h2 class="concept-tagline page-width">
      Release planning should be a party for the whole community.
    </h2>
    <a href="#" class="btn btn-outline-blue"><span class="glyphicon glyphicon-play-circle"></span><span class="btn-text">Watch 90-Sec Video</span></a>
    <div class="creator-list">
      <div class="line"></div>
      <div class="made-by">Made By</div>
      <a class="creator-pic junhee" href="http://www.github.com/JunheeK"></a>
      <a class="creator-pic howon" href="http://www.github.com/woniesong92"></a>
      <a class="creator-pic keywon" href="http://www.github.com/keywonc"></a>
      <a class="creator-pic michael" href="http://www.github.com/shilman"></a>
    </div>
  </div>
</template>
