.build-release-form-container {
  margin-top: 10rem;
}

.build-release-form-container label.thick {
  font-size: 2.4rem;
  color: @brand-blue;
}

.build-release-form-container .sublabel {
  font-weight: 400;
  font-size: 1.8rem;
  clear: both;
}

.build-release-form-container .narrow-form-groups {
  width: 60%;
}

