<template name="buildReleaseForm">
  <form class="build-release-form-container" id="build-release-form">
    <div class="form-group">
      <h2 class="page-h2">Participants</h2>
      <p class="page-text">{{userCount}} users and {{builderCount}} builders in {{_duration}}.</p>
    </div>
    <div class="form-group">
      <h2 class="page-h2">Cost/Benefit Analysis</h2>
      <p class="page-text">Pick features for FIXME{{name}} release below.</p>
    </div>

    <div class="features-for-release">
      <h3 class="page-h3 release-item-name">{{name}}</h3>
      <h4 class="release-item-description">{{_releaseDescription}}</h4>

      <div class="features-table">
        <div class="feature-thead desktop">
          <div class="feature-name">Feature</div>
          <div class="feature-cost">Cost</div>
          <div class="feature-benefit">Benefit</div>
          <div class="feature-bc-ratio">B/C Ratio</div>
        </div>

        {{#each feature in planning.features}}
          {{> buildFeatureRow feature}}
        {{/each}}
      </div>

    </div>

    <div class="form-group build-announcement-text">
      <label>Announcement Text</label>
      <textarea id="description" form="build-release-form" class="form-control input-lg new-release-desc" rows="3"></textarea>
    </div>

    <button type="submit" class="btn btn-outline-blue btn-lg submit-build-release">
      Start FIXME{{name}}
    </button>
  </form>
</template>

<template name="buildFeatureRow">
  <div class="feature-row">
    <div class="feature-name">
      <input type="checkbox" name={{featureName}} id={{_id}} class="build-feature-check-box"/>
      {{featureName}}
    </div>
    <div class="feature-cost"><span class="mobile">Cost:&nbsp;</span>{{cost}}</div>
    <div class="feature-benefit"><span class="mobile">Benefit:&nbsp;</span>{{benefit}}</div>
    <div class="feature-bc-ratio"><span class="mobile">B/C Ratio:&nbsp;</span>{{_featureBCRatio}}</div>
  </div>
</template>
