<template name="pokerCard">
  <div class="component-poker-card">
    {{#if featureName}}
      {{featureName}}<br/>
      {{#if isBuilder}}
      cost: <input class="js-cost-input slider-input" style="display: none;" type="text"/><br/>
      {{/if}}
      benefit: <input class="js-benefit-input slider-input" style="display: none;" type="text"/><br/>
    {{else}}
      Loading?
    {{/if}}
  </div>
</template>


<template name="pokerCards">
  <div id="poker-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        first feature
        feature slider container
      </div>
      <div class="item">
        second feature
      </div>

      <!-- {{#each card in pokerCards}}
        <div class="item {{#if _isSelected @index}}active{{else}}inactive{{/if}}">
          {{> pokerCard card}}
        </div>
      {{/each}} -->
    </div>

    <a class="left carousel-control" href="#poker-carousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </a>
    <a class="right carousel-control" href="#poker-carousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    </a>
  </div>
</template>
