<template name="launchReleaseForm">
  <form class="launch-release-form-container" id="launch-release-form">
    <div class="narrow-form-groups">
      <div class="form-group">
        <label>Announcement Text</label>
        <textarea id="description" form="launch-release-form" class="form-control input-lg new-release-desc" rows="3"></textarea>
      </div>
    </div>
    <button type="submit" class="btn btn-outline-blue btn-lg submit-launch-release">
      Launch {{name}}
    </button>
  </form>
</template>
