<template name="newRelease">
  <h2 class="new-release-form-title">Create a Planning Event</h2>
  <div class="new-release-subheader">No planning event scheduled. Please create one below.</div>

  <form class="new-release-form-container" id="new-release-form">
    <div class="form-group">
      <label>Release Name</label>
      <input type="email" class="form-control">
    </div>
    <div class="form-group">
      <label>Description</label>
      <textarea name="description" form="new-release-form" class="form-control new-release-desc" rows="3"></textarea>
    </div>
    <div class="form-group">
      <label>Start Time</label>
      <input name="startTime" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>End Time</label>
      <input name="endTime" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>Feature Candidates</label>
      <div class="feature-candidates-container">
        <select class="form-control" name="featureCandidate" form="new-release-form">
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="mercedes">Mercedes</option>
          <option value="audi">Audi</option>
        </select>
      </div>
    </div>
  </form>
</template>
