<template name="planningWrapper">
  {{#if _isPlanThere}}
    {{#if _isPlanning}} <!-- PLANNING  -->
      {{> planning}}
      {{#if _isBuilder}}
        <div class="page-width-small">
          {{> buildReleaseForm _buildReleaseFormData}}
        </div>
      {{/if}}
    {{else}} <!-- PLAN NOT STARTED  -->
      {{> sectionHero
        pageTitle="Next Event in X Days"
        pageTitleCaption="1 planning event scheduled."
      }}
    {{/if}}
  {{else}}
    {{#if _isBuilding}} <!-- BUILDING -->
      {{> planning}} <!-- FIXME: should be static!!! -->
      {{#if _isBuilder}}
        {{> launchReleaseForm _launchReleaseFormData}}
      {{/if}}
    {{else}} <!-- NO PLAN AT ALL -->
      {{#if _isBuilder}}
        <div class="page-width-small">
          {{> newRelease}}
        </div>
      {{else}}
        {{> sectionHero
          pageTitle="Come Back Soon"
          pageTitleCaption="We're hard at work prepping for our next release"
        }}
      {{/if}}
    {{/if}}
  {{/if}}
</template>

<template name="planningSummary">
  {{> sectionHero
    pageTitle="Static 2x2 Matrix"
    pageTitleCaption="Event finished. Summary below."
  }}
</template>

<template name="planning">
  <div class="planning-container">
    <div class="planning-header-container gradient">
      <div class="planning-header page-width">
        <div class="header-left">
          [Join Now] Planning event
        </div>
        <div class="header-right">
          {{> countdownTimer endingTime}}
        </div>
      </div>
    </div>

    {{> sectionHero
      pageTitle="Hello Money Firecat"
      pageTitleCaption="Prioritize feature candidates for next release"
    }}

    <div class="two-by-two">
      {{> featureGrid _featureData}}
      {{> pokerCards _cardsData}}
    </div>
  </div>
</template>
