.two-by-two {
  .horizontal-flush;
  height: 50rem;
  margin-bottom: 20rem;
  position: relative;
  @media @desktop {
    .page-width;
    height: 60rem;
  }
}
.planning-header-container {
  background-color: grey;
  position: relative;
  .img-retina("/img/bg-gradient-blue-horizontal.png");
  background-size: contain;
  background-repeat: repeat-y;
}
.planning-header {
  height: 5rem;
  .header-right,
  .header-left {
    line-height: 5rem;
    font-size: 18px;
    font-weight: bold;
    color: white;
  }
  .header-left {
    float: left;
  }
  .header-right {
    float: right;
  }
}
.component-poker-card-carousel {
  position: absolute;
  left: 50%;
  bottom: -10rem;
  height: 22rem;
  background: rgba(0, 0, 0, 0.3);
  @media @desktop {
    bottom: -12rem;
    height: 26rem;
  }
}